<ion-split-pane contentId="auth-content">
  <ion-menu contentId="auth-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header class="ion-padding-bottom ion-justify-content-between">
          <ion-thumbnail class="ion-margin-end">
            <ion-img src="assets/icon/icon-512.png"></ion-img>
          </ion-thumbnail>
          Gollum Notes
        </ion-list-header>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <div class="ion-margin-top ion-text-center">
          <ion-button (click)="logout()" fill="clear" color="danger">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>Déconnexion</ion-label>
          </ion-button>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="auth-content"></ion-router-outlet>
</ion-split-pane>
