<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="notes !== undefined else notesNotLoaded">
    <li *ngFor="let note of notes"><app-note class="ion-margin-vertical" [note]=note></app-note></li>
  </ion-list>
  <ng-template #notesNotLoaded>
    <ion-item>
      <ion-spinner color="Primary"></ion-spinner>
    </ion-item>
  </ng-template>
</ion-content>

<ion-modal trigger="open-add-modal-button" [swipeToClose]="true" [presentingElement]="routerOutlet?.nativeEl">
  <ng-template>
    <app-add-note-modal-content></app-add-note-modal-content>
  </ng-template>
</ion-modal>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add" id="open-add-modal-button"></ion-icon>
  </ion-fab-button>
</ion-fab>
