<ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nom d'utilisateur</ion-label>
    <ion-input
      placeholder="Nom d'utilisateur" [(ngModel)]="username"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Mot de passe</ion-label>
    <ion-input
      placeholder="Mot de passe"
      [(ngModel)]="password"
    ></ion-input>
  </ion-item>

  <div *ngFor="let error of errors">
    <ion-item >
      <ion-label>Error: {{error}}</ion-label>
    </ion-item>
  </div>

  <ion-button (click)="onSubscriptionClick()">S'inscrire</ion-button>
  <ion-button (click)="onReturnClick()">Retour</ion-button>
</ion-content>
