<ion-card *ngIf="!isEditing else editing">
  <ion-card-header>
    <ion-card-subtitle>Créée le {{ createdAt  | date }}</ion-card-subtitle>
    <ion-card-title>{{ note.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="ion-margin-bottom">{{ note.content }}</p>

    <ion-grid>
        <ion-row >
          <ion-col *ngFor="let image of pictures; ">
            <ion-img style="max-width: 100px; max-height: 100px" [src]=" image.webPath"></ion-img>
          </ion-col>
        </ion-row>

    </ion-grid>

    <div *ngFor="let error of errors">
      <ion-item >
        <ion-label>Error: {{error}}</ion-label>
      </ion-item>
    </div>

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="test()" fill="clear" color="primary" [id]="pophoverId">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>

      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="delete()" expand="block" color="danger">Supprimer</ion-button>
        <ion-button (click)="update()" expand="block">Modifier</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-content>
</ion-card>

<ion-popover [trigger]="pophoverId">
  <ng-template>
    <ion-list>
      <ion-list-header>Photos</ion-list-header>
      <ion-item button (click)="takePicture()" expand="block">Prendre photo</ion-item>
      <ion-item button (click)="addPicture()" expand="block">Ajouter photo</ion-item>
    </ion-list>
  </ng-template>
</ion-popover>

<ng-template #editing>
  <form [formGroup]="noteForm" (ngSubmit)="commitUpdate()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Titre</ion-label>
      <ion-input placeholder="Titre" formControlName="title"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contenu</ion-label>
      <ion-input placeholder="Contenu" formControlName="content"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="delete()" expand="block" color="danger">Supprimer</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="cancelUpdate()" expand="block">Annuler</ion-button>
          <ion-button type="submit" expand="block" color="warning">Valider</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-item>
  </form>
</ng-template>
